@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --spacing-0: 0;
    --spacing-025: 2px;
    --spacing-050: 4px;
    --spacing-075: 6px;
    --spacing-100: 8px;
    --spacing-150: 12px;
    --spacing-200: 16px;
    --spacing-250: 20px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-600: 48px;
    --spacing-800: 64px;
    --spacing-1000: 80px;
    --radius-0: 0;
    --radius-4: 4px;
    --radius-6: 6px;
    --radius-8: 8px;
    --radius-10: 10px;
    --radius-12: 12px;
    --radius-16: 16px;
    --radius-20: 20px;
    --radius-24: 24px;
    --radius-full: 999px;
    --container-image: "assets/images/bg-light-theme.png";
    --container-bg: #fff;
    --logo-bg: #f2f2f7;
    --heading-color: #12131a;
    --text-color: #12131a;
    --text-area-bg: #f2f2f7;
    --text-area-color: #2a2b37;
    --text-area-border: #e4e4ef;
    --bars-bg: #f2f2f7;
    --blue-500: #c27cf8;
    --blue-400: #d3a0fa;
    --yellow-500: #ff9f00;
    --orange-500: #fe8159;
    --orange-800: #da3701;
  }
  
  .dark-mode {
    --container-bg: #12131a;
    --logo-bg: #2a2b37;
    --heading-color: #f2f2f7;
    --text-color: #e4e4ef;
    --text-area-bg: #21222c;
    --text-area-color: #e4e4ef;
    --text-area-border: #2a2b37;
    --bars-bg: #21222c;
    background-image: url("assets/images/bg-dark-theme.png");
  }
  
body {
  font-family: 'DM Sans', sans-serif;
  overflow: hidden;
  max-height: 100%;
  max-width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* PRESETS */
.text-preset-1 {
    font-size: 2.5rem;
    line-height: 100%;
    letter-spacing: -.0625rem;
}

.text-preset-2 {
    font-size: 2.8125rem;
    line-height: 130%;
    letter-spacing: -.0625rem;
}

.text-preset-3 {
    font-size: 1.25rem;
    line-height: 130%;
    letter-spacing: -.0375rem;
}

.text-preset-4 {
    font-size: 1rem;
    line-height: 130%;
    letter-spacing: -.0375rem;
}

.container {
    transition: 1s;
    width: 100%;
    height: 100%;
    padding: var(--spacing-250);
     background-image: url('assets/images/bg-light-theme.png');
     background-color: var(--container-bg);
}

.toggle-mode {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--logo-bg);
    border-radius: var(--radius-6);
    padding: .4375rem;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    color: var(--heading-color);
    margin-block: var(--spacing-500);
    text-align: center;
}

.textarea-custom {
    cursor: pointer;
    padding: .625rem;
    background-color: var(--text-area-bg);
    outline: none;
    color: var(--text-area-color);
    border: .0625rem solid var(--text-area-border);
    border-radius: .9375rem;
    margin-block: 1.25rem;
    overflow-y: auto;
    width: 100%;
    height: 12.5rem;
    resize: none;
    transition: 1s;
}

.textarea-custom:hover {
    border-color: #c27cf8;
    box-shadow: 0 0 .625rem .0625rem #c27cf8;
} 

.info {
    margin-block: .625rem;
    display: none;
    color: var(--orange-500);
    font-weight: 400;
    font-size: 1rem;
    line-height: 130%;
    letter-spacing: .0375rem;
}

.icon-info {
    margin-right: .625rem;
}

.options {
  display: flex;
  flex-direction: column;
}

.option {
    color: var(--text-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-block: .3125rem;
}

.box {
    outline: none;
    cursor: pointer;
    margin-right: .5rem;
    accent-color: var(--blue-500);
    width: 1rem;
    height: 1rem;
    border: .1875rem solid var(--text-area-border);
    border-radius: .5rem;
}

.box:hover {
    outline: .0625rem solid var(--blue-500);
    outline-offset: .125rem;
}

.reading-time {
    color: var(--text-color);
}

.counter__container {
    display: flex;
    flex-direction: column;
}

.counter__element {
    background-repeat: no-repeat;
    background-position: 130%;
    width: 100%;
    border-radius: .75rem;
    margin-block: .625rem;
}

.counter__element-purple {
    background-image: url('assets/images/pattern-character-count.svg');
    background-color: var(--blue-400);
}

.counter__element-yellow {
    background-image: url('assets/images/pattern-word-count.svg');
    background-color: var(--yellow-500);
}

.counter__element-orange {
    background-image: url('assets/images/pattern-sentence-count.svg');
    background-color: var(--orange-500);
}

.counter__title {
    margin: 1.25rem;
}

.counter__sub-title {
    margin: 1.25rem;
}

.letter-density__title {
    color: var(--text-color);
    margin-block: .9375rem;
}

.character-limit__input {
    display: none;
    text-align: center;
    outline: none;
    background-color: var(--text-area-bg);
    color: var(--text-area-color);
    border: .0625rem solid var(--text-area-border);
    border-radius: .375rem;
    padding: .75rem .25rem;
    width: 3.4375rem;
    height: 1.5625rem;
}

.no-characters {
    color: var(--text-color);
}

.density__container {
    margin-block: .625rem;
}

.density__element {
    margin-block: .625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.letter,
.density__number,
.density__percentage {
    line-height: 130%;
    letter-spacing: -.0375rem;
    color: var(--text-color);
    margin-right: .625rem;
}

.progress-bar {
    appearance: none;
    border-radius: var(--radius-full);
    max-width: 95%;
    height: .75rem;
    margin-line: .625rem;
    background-color: var(--bars-bg);
    overflow: hidden;
}

.progress-bar::-webkit-progress-bar {
    border-radius: var(--radius-full);
    background-color: var(--bars-bg);
    overflow: hidden;
}

.progress-bar::-webkit-progress-value {
    border-radius: var(--radius-full);
    background-color: var(--blue-500);
}

.progress-bar::-moz-progress-bar {
    border-radius: var(--radius-full);
    background-color: var(--bars-bg);
}

.show-more,
.show-less {
    margin-block: .9375rem;
    cursor: pointer;
    color: var(--text-color);
}

/* Media Queries for Tablets */






